<%

  if name == 'success'
    alert_class = 'success'
  elsif ['danger', 'alert', 'error', 'failure'].include?(name)
    alert_class = 'danger'
  else
    alert_class = 'info'
  end
  
%>

<div 
  class="alert alert-<%= alert_class %> alert-dismissible fade show p-2 d-flex align-items-center mb-3" 
  role="alert"
>
  <i class="bi bi-info-circle me-1"></i>
  <span><%= sanitize(message) %></span>
  <button 
    type="button" 
    class="btn-close p-1 position-static ms-auto" 
    data-bs-dismiss="alert" 
    aria-label="Close"
  ></button>
</div>